SECRET_KEY=fk6&b4#nhz*s6&cnn^@ai5*pe5)t7s=f5g-l8&^t6wt82ba23+
DEBUG=False
DATABASE_URL=postgresql://user:password@localhost/skillbridge
MONITORING_API_KEY=test_api_key

# Render Production Settings
ALLOWED_HOSTS=submission-5ujh.onrender.com,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://submission-5ujh.onrender.com
USE_POSTGRES=True
SECURE_SSL_REDIRECT=True